@model IEnumerable<ToDoList.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="btn btn-primary" style="padding: 5px 10px; font-size: 12px;" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i> Edit
                    </a> |
                    <a class="btn btn-success" style="padding: 5px 10px; font-size: 12px;" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fas fa-info-circle"></i> Details
                    </a> |
                    <a class="btn btn-danger" style="padding: 5px 10px; font-size: 12px;"  asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fas fa-trash"></i> Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
